[Unit]
Description=Edublocks Server Service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/edublocks/
ExecStart=/opt/edublocks/edublocks-connect
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
